div, input { text-align: center;}

.color-red { color: red; }
.color-black { color: black; }
.font-weight-bold { font-weight: bold; }
.font-weight-normal { font-weight: normal; }
.font-style-italic { font-style: italic; }
.font-style-normal { font-style: normal; }